.cripto {
    border: 1px solid skyblue;
    border-left: 10px solid skyblue;
    border-radius: 5px;
    padding: 1rem;
}

.info {
    color: gray;
}

.positivo {
    color: greenyellow;
}

.negativo {
    color: red;
}